@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<br />
<br />
<TelerikButton OnClick="@SayHelloHandler" Primary="true">Say Hello</TelerikButton>

<br />

@helloString
<br />

<div class="index-div"></div>

@code {
    MarkupString helloString;

    void SayHelloHandler()
    {
        string msg = string.Format("<br />Hello from <strong>Telerik Blazor</strong> at {0}.<br /> Now you can use C# to write front-end!<br />", DateTime.Now);
        helloString = new MarkupString(msg);
    }
}